/* reset stylesheet to reset browser defaults back to 0 */
@import url(reset.css);

/* two Google fonts we'll use */
@import url(https://fonts.googleapis.com/css?family=Cantora+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@-webkit-keyframes pulse {
    0% {
    	opacity: 0.3;
    }
    50%     {opacity: 1;}
    100%    {opacity: 0.3;}
}
@keyframes pulse {
    0%      {opacity: 0.3;}
    50%     {opacity: 1;}
    100%    {opacity: 0.3;}
}
         


body {
	background-image: url('../img/sandpaper.png');
	font-family: sans-serif;
	font-size: 16px;
}

article {
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
	line-height: 60px;
	background-color: #FFF;
}

header {
	background-color: #907A46;
}

h1 {
	font-family: 'Cantora One', sans-serif;
	font-size: 200%;
	color:  #EEEDEA;
}

.logo {
	height: 60px;
	float: right;
	opacity: 0.7;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease; 
	-webkit-animation: pulse 5s infinite;
	animation: pulse 5s infinite;                       
                    
}

.logo:hover {
	opacity: 1.0;
}

div {
	margin: 0 auto;
	width: 100%;
}

figure {
	display: inline-block;
	padding: 10px;
	background-color: #FFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

figure img {
	width: 200px;
	border: 10px solid #EEE;
	border-radius: 2px;
}

figure:hover {
	box-shadow: 2px 2px 6px #555;
	-webkit-transform: scale(1.5) rotate(-5deg);
	-moz-transform: scale(1.5) rotate(-5deg);
	-o-transform: scale(1.5) rotate(-5deg);
	-ms-transform: scale(1.5) rotate(-5deg);
	transform: scale(1.5) rotate(-5deg); 
}

figcaption {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	text-align: center;
	margin-top: 5px;
}